<div>
  <h2>Übersicht für {{selectedCounty}} ({{selectedState}})</h2>

  <div class="p-fluid grid">
    <div class="field col-12 md:col-4">
      <p-card header="Anzahl Medikamente">
        <p class="m-0">
          <span class="value" [ngStyle]="{'color': getSickColor()}">
            {{sickPeople}}
          </span>
        </p>
      </p-card>
    </div>
    <div class="field col-12 md:col-4">
      <p-card header="Anzahl Impfstoffe">
        <p class="m-0">
          <span class="value" [ngStyle]="{'color': getSymptomColor()}">
            {{symptomPeople}}
          </span>
        </p>
      </p-card>
    </div>
    <div class="field col-12 md:col-4">
      <p-card header="Anzahl der Standorte">
        <p class="m-0">
          <span class="value" [ngStyle]="{'color': getQuarantineColor()}">
            {{quarantinedPeople}}
          </span>
        </p>
      </p-card>
    </div>
    <div class="field col-12 md:col-4">
      <p-card header="Anzahl der Linien">
        <p class="m-0">
          <span class="value" [ngStyle]="{'color': getPotentialColor()}">
            {{potentialPeople}}
          </span>
        </p>
      </p-card>
    </div>
    <div class="field col-12 md:col-4">
      <p-card header="Anzahl der Termine">
        <p class="m-0">
          <span class="value" [ngStyle]="{'color': getPotentialColor()}">
            0
          </span>
        </p>
      </p-card>
    </div>
    <div class="field col-12 md:col-4">
      <p-card header="Auslastung der Standorte">
        <p class="m-0">
          <span class="value" [ngStyle]="{'color': getPotentialColor()}">
            0
          </span>
        </p>
      </p-card>
    </div>
  </div>


</div>
