<h2>Linie hinzufügen</h2>

<form [formGroup]="lineForm" (ngSubmit)="addLine()" class="p-fluid grid">
  <div class="field col-12 md-4">
    <span class="p-float-label p-input-icon-left">
      <i class="pi pi-tag"></i>
      <input type="number" id="lineNumber" pInputText formControlName="lineNumber" required>
      <label for="lineNumber">Liniennummer</label>
    </span>
    <div class="invalid-feedback" *ngIf="lineForm.get('lineNumber')?.invalid && lineForm.get('lineNumber')?.touched">
      Liniennummer ist erforderlich.
    </div>
  </div>

  <div class="field col-12 md-4">
    <span class="p-float-label p-input-icon-left">
      <i class="pi pi-map"></i>
      <p-dropdown id="type" [options]="typeOptions" formControlName="type" placeholder="Typ"></p-dropdown>
      <label for="type">Typ</label>
    </span>
    <div class="invalid-feedback" *ngIf="lineForm.get('type')?.invalid && lineForm.get('type')?.touched">
      Typ ist erforderlich.
    </div>
  </div>

  <div class="field col-12 md-4">
    <span class="p-float-label p-input-icon-left">
      <i class="pi pi-map"></i>
      <p-dropdown id="location" [options]="locations" formControlName="location" placeholder="Location" optionLabel="name"></p-dropdown>
      <label for="location">Location</label>
    </span>
    <div class="invalid-feedback" *ngIf="lineForm.get('location')?.invalid && lineForm.get('location')?.touched">
      Standort ist erforderlich.
    </div>
  </div>

  <div class="field col-12 md-4">
    <span class="p-float-label p-input-icon-left">
      <i class="pi pi-tag"></i>
      <p-dropdown id="article" [options]="articles" formControlName="article" placeholder="Article" optionLabel="name"></p-dropdown>
      <label for="article">Article</label>
    </span>
    <div class="invalid-feedback" *ngIf="lineForm.get('article')?.invalid && lineForm.get('article')?.touched">
      Artikel ist erforderlich.
    </div>
  </div>

  <div class="field col-12 md-4">
    <span class="p-float-label p-input-icon-left">
      <i class="pi pi-tag"></i>
      <input type="number" id="quantity" pInputText formControlName="quantity" required>
      <label for="quantity">Kontingent</label>
    </span>
    <div class="invalid-feedback" *ngIf="lineForm.get('quantity')?.invalid && lineForm.get('quantity')?.touched">
      Kontingent ist erforderlich.
    </div>
  </div>

  <div class="col-12">
    <button pButton type="submit" label="Speichern" class="blue-success" [disabled]="!isFormValid()"></button>
  </div>
</form>

<p-toast></p-toast>
