<div class="surface-card p-2 shadow-2 border-round w-full lg:w-12">
  <div class="greeting-container">
    <h2 class="greeting-text">Willkommen! Bitte wählen Sie Ihre Rolle</h2>
  </div>
  <div class="flex flex-wrap justify-center mb-6">
    <div class="card-container">
      <p-card header="Abteilung Gesundheit" [style]="{width: '360px'}" styleClass="shadow-2 bg-blue-500 text-white m-4">
        <div>Impfstoffverwaltung</div>
        <div>Medikamentenverwaltung</div>
        <div>Bestandsverwaltung</div>
        <ng-template pTemplate="footer">
          <div class="button-container">
            <p-button label="Login" (click)="selectRole('GES')" icon="pi pi-check" styleClass="p-button-rounded p-button-secondary"></p-button>
          </div>
        </ng-template>
      </p-card>
    </div>

    <div class="card-container">
      <p-card header="Bezirkshauptmannschaft MitarbeiterIn" [style]="{width: '360px'}" styleClass="shadow-2 bg-green-500 text-white m-4">
        <div>Standortverwaltung</div>
        <div>Linienverwaltung</div>
        <div class="p-fluid grid">
          <div class="field col-12 md:col-12">
            <span class="p-float-label p-input-icon-left">
            </span>
          </div>
        </div>
        <ng-template pTemplate="footer">
          <div class="button-container">
            <p-button label="Login" (click)="selectRole('BH')" icon="pi pi-check" styleClass="p-button-rounded p-button-secondary"></p-button>
          </div>
        </ng-template>
      </p-card>
    </div>

    <div class="card-container">
      <p-card header="Landesrat/Landesrätin für Gesundheit" [style]="{width: '360px'}" styleClass="shadow-2 bg-yellow-500 text-white m-4">
        <div>Dashboard</div>
        <div>Übersicht der aktuellen Auslastung</div>
        <div>Bestandsübersicht</div>
        <ng-template pTemplate="footer">
          <div class="button-container">
            <p-button label="Login" (click)="selectRole('LR')" icon="pi pi-check" styleClass="p-button-rounded p-button-secondary"></p-button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
