<h2>Person hinzufügen</h2>
<h3>Allgemeine Daten</h3>
<div class="p-fluid grid">
  <div class="field col-12 md:col-4">
        <span class="p-float-label p-input-icon-left">
          <i class="pi pi-user"></i>
            <input type="number" [minLength]="10" [maxLength]="10" id="svnr" pInputText [(ngModel)]="person.svnr">
            <label for="svnr">SVNR</label>
        </span>
  </div>
  <div class="field col-12 md:col-4">
        <span class="p-float-label p-input-icon-left">
          <i class="pi pi-user"></i>
            <input type="text" id="firstName" pInputText [(ngModel)]="person.firstName">
            <label for="firstName">Vorname</label>
        </span>
  </div>
  <div class="field col-12 md:col-4">
        <span class="p-float-label p-input-icon-left">
          <i class="pi pi-user"></i>
            <input type="text" id="lastName" pInputText [(ngModel)]="person.lastName">
            <label for="lastName">Nachname</label>
        </span>
  </div>
  <div class="field col-12 md:col-4">
        <span class="p-float-label p-input-icon-left">
          <i class="pi pi-user"></i>
            <p-calendar id="calendar" inputId="calendar" [(ngModel)]="person.birthday"></p-calendar>
            <label for="calendar">Geburtstag</label>
        </span>
  </div>
  <div class="field col-12 md:col-4">
        <span class="p-float-label p-input-icon-left">
          <i class="pi pi-user"></i>
            <input type="text" id="email" pInputText [(ngModel)]="person.email">
            <label for="email">Email</label>
        </span>
  </div>
  <div class="field col-12 md:col-4">
        <span class="p-float-label p-input-icon-left">
          <i class="pi pi-user"></i>
            <input type="text" id="telefonnummer" pInputText [(ngModel)]="person.phoneNumber">
            <label for="email">Telefonnummer</label>
        </span>
  </div>
</div>

<h3>Addresse</h3>
<div class="p-fluid grid">
  <div class="field col-12 md:col-4">
        <span class="p-float-label p-input-icon-left">
            <i class="pi pi-home"></i>
            <input type="text" id="street" pInputText [(ngModel)]="person.address.streetName">
            <label for="street">Straße</label>
        </span>
  </div>
  <div class="field col-12 md:col-4">
        <span class="p-float-label p-input-icon-left">
            <i class="pi pi-home"></i>
            <input type="text" id="door" pInputText [(ngModel)]="person.address.doorNumber">
            <label for="door">Nummer</label>
        </span>
  </div>
  <div class="field col-12 md:col-4">
        <span class="p-float-label p-input-icon-left">
            <i class="pi pi-home"></i>
            <p-dropdown id="state" [options]="states" (onChange)="changeCounties($event)"  [(ngModel)]="person.address.state"></p-dropdown>
            <label for="state">Bundesland</label>
        </span>
  </div>
  <div class="field col-12 md:col-4">
        <span class="p-float-label p-input-icon-left">
            <i class="pi pi-home"></i>
            <p-dropdown id="county" [options]="counties" [(ngModel)]="person.address.county"></p-dropdown>
            <label for="county">Bezirk</label>
        </span>
  </div>
  <div class="field col-12 md:col-4">
        <span class="p-float-label p-input-icon-left">
            <i class="pi pi-home"></i>
            <input type="text" id="country" pInputText [(ngModel)]="person.address.country">
            <label for="country">Land</label>
        </span>
  </div>
</div>

<h3>Kontakte</h3>
<div class="p-fluid grid">
  <div class="field col-12 md:col-4">
    <p-multiSelect [options]="allPeople" (onChange)="updateSelectedPeople()" [(ngModel)]="selectedPeople"
                   optionLabel="svnr"></p-multiSelect>
  </div>
</div>

<button pButton type="button" label="Save" (click)="savePerson()" class="p-button-success"></button>
