<h2 class="edit-title">List of all articles</h2>

<table class="article-list-table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Type</th>
    <th>Min Age</th>
    <th>Max Age</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let article of articles">
    <td>{{ article.id }}</td>
    <td>{{ article.name }}</td>
    <td>{{ article.type }}</td>
    <td>{{ article.minAge }}</td>
    <td>{{ article.maxAge }}</td>
    <td>
      <button (click)="editArticle(article.id)" class="edit-button">
        <i class="pi pi-pencil"></i>
      </button>
      <button (click)="deleteArticle(article.id)" class="delete-button">
        <i class="pi pi-trash"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
