<div>
  <h2>Übersicht für {{selectedCounty}} ({{selectedState}})</h2>

  <div class="p-fluid grid">
    <div class="field col-12 md:col-4">
      <p-card header="Erkrankt">
        <p class="m-0">
          <span class="value" [ngStyle]="{'color': getSickColor()}">
            {{sickPeople}}
          </span>
        </p>
      </p-card>
    </div>
    <div class="field col-12 md:col-4">
      <p-card header="Symptome">
        <p class="m-0">
          <span class="value" [ngStyle]="{'color': getSymptomColor()}">
            {{symptomPeople}}
          </span>
        </p>
      </p-card>
    </div>
    <div class="field col-12 md:col-4">
      <p-card header="Quarantäne">
        <p class="m-0">
          <span class="value" [ngStyle]="{'color': getQuarantineColor()}">
            {{quarantinedPeople}}
          </span>
        </p>
      </p-card>
    </div>
    <div class="field col-12 md:col-4">
      <p-card header="Verdachtsfall">
        <p class="m-0">
          <span class="value" [ngStyle]="{'color': getPotentialColor()}">
            {{potentialPeople}}
          </span>
        </p>
      </p-card>
    </div>
    <div class="field col-12 md:col-4">
      <p-card header="Cluster">
        <p class="m-0">
          <span class="value" [ngStyle]="{'color': getPotentialColor()}">
            0
          </span>
        </p>
      </p-card>
    </div>
    <div class="field col-12 md:col-4">
      <p-card header="Medikamenten Termine">
        <p class="m-0">
          <span class="value">
            {{medicationAppointmentSize}}
          </span>
        </p>
      </p-card>
    </div>
  </div>


</div>
