@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blue {
  color: var(--primary-color);
}

.no-articles-message {
  color: var(--primary-color);
  font-weight: bold;
  margin-top: 1rem;
}

.articles-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.articles-table th,
.articles-table td {
  border: 1px solid #ccc;
  padding: 0.5rem;
}

.articles-table th {
  background-color: var(--primary-color);
  color: white;
}

.edit-button,
.delete-button {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #cc0000;
}

.delete-button:hover {
  background-color: #990000;
}

.card-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  text-align: center;
}

.greeting-container {
  text-align: center;
}

.greeting-text {
  font-size: 28px;
  font-weight: bold;
  color: #f58c42;
  animation: colorChange 2s infinite alternate;
}

@keyframes colorChange {
  0% {
    color: #f58c42;
  }
  50% {
    color: #53a5d1;
  }
  100% {
    color: #ffca4e;
  }
}


