<h2>Personen Übersicht</h2>

<p-table [value]="people" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th>SVNR</th>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Krank</th>
      <th>Symptome</th>
      <th>Quarantäne</th>
      <th>Gesundh. Daten</th>
      <th>Löschen</th>
      <th>Bearbeiten</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-person>
    <tr>
      <td>{{person.svnr}}</td>
      <td>{{person.firstName}}</td>
      <td>{{person.lastName}}</td>
      <td>{{person.sickInformation.sick ? 'Ja' : 'Nein'}}</td>
      <td>{{person.sickInformation.symptoms ? 'Ja' : 'Nein'}}</td>
      <td>{{person.sickInformation.quarantine ? 'Ja' : 'Nein'}}</td>
      <td>
        <span [routerLink]="['/sickInfo', person.svnr]">
          <span class="pi pi-user-edit"></span>
        </span>
      </td>
      <td>
        <span (click)="deletePerson(person.svnr)">
          <span class="pi pi-delete-left"></span>
        </span>
      </td>
      <td>
        <span [routerLink]="['/edit', person.svnr]">
          <span class="pi pi-user-edit"></span>
        </span>
      </td>
    </tr>
  </ng-template>
</p-table>
