.location-inventory-container {
  margin: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.inventory-list {
  list-style-type: none;
  padding: 0;
}

.inventory-item {
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.inventory-details {
  flex-grow: 1;
}

.inventory-info {
  display: block;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .location-inventory-container {
    margin: 10px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .inventory-item {
    padding: 8px;
  }

  .inventory-info {
    margin-bottom: 3px;
  }
}
