<h2 class="list-location-title">List of all locations</h2>

<table class="location-list-table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>District</th>
    <th>Address</th>
    <th>Postal Code</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let location of locations">
    <td>{{ location.id }}</td>
    <td>{{ location.name }}</td>
    <td>{{ location.district }}</td>
    <td>{{ location.address }}</td>
    <td>{{ location.postalCode }}</td>
    <td>
      <button (click)="editLocation(location.id)" class="edit-button">
        Edit
      </button>
      <button (click)="deleteLocation(location.id)" class="delete-button">
        Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>
